[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sqlalchemy = "*"
flask = "*"
flask-bcrypt = "*"
flask-wtf = "*"
flask-login = "*"
pypdf = "*"
pypdfium2 = "*"
pillow = "*"

[requires]
python_version = "3.10"
