@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

:root {
    --note-img-bg: rgb(202, 202, 202);
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.row {
    margin: 0;
}

/* ------------------------------------------------------ */

.navbar-brand {
    font-size: 26px;
}

.authorized-user {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.authorized-user span {
    margin-right: 15px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    display: flex;
    flex-direction: column;

    max-width: 252px;

    padding-top: 50px;
    padding-left: 50px;
    font-size: 18px;
}

.nav-sidebar__link {
    margin-bottom: 10px;
}

.nav-sidebar__link:hover {
    text-decoration: underline;
    list-style-type: circle;
}

.sidebar__line {
    border-top: 1px solid black;
    margin-bottom: 30px;
    max-width: 122px;
}


/*  ------------------------------------------------------ */

.body {
    height: 90vh;
    width: 85%;
    border-radius: 10px;

    margin: 0 35px 0 0;

    overflow-y: auto;
}

.body__title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
}


.note-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.note-card {
    text-align: start;
}

.note-card__pic {
    width: 100%;
    height: 160px;
    background-color: var(--note-img-bg);

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__btn-group {
    display: flex;
    justify-content: space-between;
}

/* ----- profile ------------- */

.profile-btns {
    display: flex;
    justify-content: space-between;
}

.user-profile {
    margin: 150px auto 0 auto;
    padding: 40px 50px 25px 50px;
    max-width: 500px;
}

[class*=user__] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* ----- signin ------------------ */

.signin-wrapper {
    margin: 150px auto 0 auto;
    padding: 40px 50px 25px 50px;
    max-width: 500px;
}

.signin__input-wrapper {
    display: flex;
    flex-direction: column;

    margin-bottom: 25px;
}

.signin__input {
    color: #212529;
    padding: 0.375rem 0.75rem;

    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.signin__input::placeholder {
    font-style: italic;
}

.signin__input:focus {
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.to-login,
.to-signin {
    padding-top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.to-login span,
.to-signin span {
    margin-right: 20px;
}

/* ----- changepass ------------------ */

.changepass {
    display:flex;
    justify-content: space-between;
}

/* ----- notebook --------------- */

.note-content h5 {
    font-style: italic;
}

.content__item:hover {
    list-style-type: circle;
}

.notebook {
    display: flex;
    justify-content: center;
}
