<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ bootstrap }}">
    <link rel="stylesheet" href="{{ style }}">
    <title>WebNotebook</title>
</head>
<body class="bg-info-subtle">
    <header>
        <nav class="navbar bg-info-subtle">
            <div class="container-fluid">
              <a class="navbar-brand" href="index">
                <img src="{{ clouds }}" alt="Logo" width="50" height="32" class="d-inline-block align-text-top">
                WebNotebook
              </a>
            </div>
          </nav>
    </header>
    <main class="main">
        <div class="sidebar">
            <ul class="nav-sidebar">
                <li class="nav-sidebar__link"><a href="signin">Мой профиль</a></li>
                <li class="nav-sidebar__link"><a href="index">Мои тетради</a></li>
            </ul>
            <div class="sidebar__line"></div>
          </div>

        <div class="body bg-light-subtle">
          <h3 class="body__title">Мой профиль</h3>
          
          <div class="user-profile border rounded">
            <div class="user__login border-bottom">
              <span>Логин</span>
              <span>user0001</span>
            </div>
            <div class="user__name border-bottom">
              <span>Имя</span>
              <span>Вася</span>
            </div>
            <div class="user__email border-bottom">
              <span>Email</span>
              <span>admin@admin.com</span>
            </div>
            <div class="profile-btn">
              <button type="button" class="btn btn-outline-primary">Сменить пароль</button>
              <button type="button" class="btn btn-outline-danger">Выйти</button>
            </div>
          </div>
        </div>
    </main>
</body>
</html>