<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ bootstrap }}">
    <link rel="stylesheet" href="{{ style }}">
    <title>WebNotebook</title>
</head>
<body class="bg-info-subtle">
    <header>
        <nav class="navbar bg-info-subtle">
            <div class="container-fluid">
              <a class="navbar-brand" href="index">
                <img src="{{ clouds }}" alt="Logo" width="50" height="32" class="d-inline-block align-text-top">
                WebNotebook
              </a>
              <div style="display:flex;">
                <a href="translate-profile" style="margin-right: 100px;"><img src="{{ translate }}" width="30"></a>
              </div>
            </div>
          </nav>
    </header>
    <main class="main">
        <div class="sidebar">
            <ul class="nav-sidebar">
                <li class="nav-sidebar__link"><a href="profile">{{ my_profile }}</a></li>
                <li class="nav-sidebar__link"><a href="index">{{ my_notebooks }}</a></li>
            </ul>
            <div class="sidebar__line"></div>
          </div>

        <div class="body bg-light-subtle">
          <h3 class="body__title">{{ my_profile }}</h3>
          
          <div class="user-profile border rounded">
            <div class="user__name border-bottom">
              <span>{{ name }}</span>
              <span>{{ username }}</span>
            </div>
            <div class="user__email border-bottom">
              <span>{{ mail }}</span>
              <span>{{ email }}</span>
            </div>
            <div class="profile-btns">
              <a href="changepass" class="btn btn-outline-primary">{{ change_password }}</a>
              <a href="logout" class="btn btn-outline-danger">{{ log_out }}</a>
            </div>
          </div>
        </div>
    </main>
</body>
</html>