<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ bootstrap }}">
    <link rel="stylesheet" href="{{ style }}">
    <title>WebNotebook</title>
</head>
<body class="bg-info-subtle">
    <header>
        <nav class="navbar bg-info-subtle">
            <div class="container-fluid">
              <a class="navbar-brand" href="index">
                <img src="{{ clouds }}" alt="Logo" width="50" height="32" class="d-inline-block align-text-top">
                WebNotebook
              </a>
            </div>
          </nav>
    </header>
    <main class="main">
        <div class="sidebar">
            <ul class="nav-sidebar">
                <li class="nav-sidebar__link"><a href="profile">Мой профиль</a></li>
                <li class="nav-sidebar__link"><a href="index">Мои тетради</a></li>
            </ul>
            <div class="sidebar__line"></div>
          </div>

        <div class="body bg-light-subtle">
          <h3 class="body__title">Регистрация</h3>
          
          <div class="signin-wrapper border rounded">
            <!-- <form action="#" class="signin" autocomplete="on" method = "post">

              <div class="signin__input-wrapper">
                <label for="uname">Имя пользователя</label>
                <input type="text" name="uname" required="required" class="signin__input" placeholder="Введите имя">
              </div>

              <div class="signin__input-wrapper">
                <label for="uemail">Email</label>
                <input type="email" name="uemail" required="required" class="signin__input" placeholder="Введите почту">
              </div>

              <div class="signin__input-wrapper">
                <label for="upassword">Пароль</label>
                <input type="password" name="upassword" required="required" class="signin__input" placeholder="Введите пароль">
              </div>

              <div class="signin__input-wrapper">
                <label for="upassword-confirm">Подтверждение пароля</label>
                <input type="password" name="upassword-confirm" required="required" class="signin__input" placeholder="Подтвердите пароль">
              </div>

              <div class="signin__input-wrapper">
                <input type="submit" value="Регистрация" class="btn btn-primary">
              </div>
            </form> -->
            
            <form action="#" method="post" class="signin" autocomplete="on">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(class="form-control", placeholder="Введите имя") }}<br>
                    {% for error in form.name.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(class="form-control", type="email", placeholder="Введите почту") }}<br>
                    {% for error in form.email.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(class="form-control", type="password", placeholder="Введите пароль") }}<br>
                    {% for error in form.password.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password_again.label }}<br>
                    {{ form.password_again(class="form-control", type="password", placeholder="Подтвердите пароль") }}<br>
                    {% for error in form.password_again.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                {{message}}
            </form>
            <div class="to-login border-top">
              <span>Уже зарегистрированы?</span>
              <a href="login" class="btn btn-outline-primary">Войти</a>
            </div>
          </div>
        </div>
    </main>
</body>
</html>